body{
  text-align:center:
}

.cool {
  margin-top: 40px;
  box-sizing: border-box;
  background: rgb(87, 160, 226);
  border-radius: 5px;
  text-align: center;
  margin-left: 500px;
  
  width:300px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 3px rgba(43, 81, 114, 1 );
  
}

.cool:hover {
  margin-top: 45px;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: white;
}
